

.search-container {
    position: relative;
    margin: 20px;
}

.search-input {
    padding: 10px;
    padding-left: 40px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
}

.nav-tools {
    padding-left: 240px;
}
.input-group{
    width: 800px;
  margin-left: 20px;
}
.announcement-pic{
    margin-left: 100px;

}
@media (max-width: 991.98px) {
    .search-bar {
        margin-top: 10px; 
    }

    .form-control {
        width: 100%;
    }
}